{% extends 'base.html' %}

{% block content %}


{% if users %}
<div class="text-center">
  <div class="panel" style="width: 40rem;">
    <!-- <div class="custom-card-header"> -->
    <div class="panel-body">
      {% for user in users%}

      <div class="users-image">
        <img src="{{user.profile_pic.url}}?w=50&h=50&fit=crop" class="gallery-image" alt=""  width=8 height=8>
        <div class="search-username-center">
          <p class="username profile-username"style="margin:auto;"><a href="/user-profile/{{user.id}}" style="color:black;"> {{user.username}}</a></p>
        </div>
      </div>
      <!-- </div> -->
      
      {% endfor %}

    </div>
  </div>
</div>
{%endif %}


{% endblock %}
